 <div id="home">
   <form>
     <div class="form-group">
       <div class="input-group mb-3">
         <div class="input-group-prepend">
           <label class="input-group-text" for="inputGroupSelect01">Je m'appelle</label>
         </div>
         <select class="custom-select" id="inputGroupSelect01">
           <option selected>Clément</option>
           <option value="1">Léa</option>
           <option value="2">Odile</option>
         </select>
       </div>
     </div>
     <div class="form-group">
       <p class="mr-3">Et j'ai donné</p>
       <div class="input-group mb-3">
         <input type="text" class="form-control" value="50">
         <div class="input-group-append">
           <span class="input-group-text">Grammes de croquettes</span>
         </div>
       </div>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>

 </div>
